body, html {
    height: 100%;
  }
  .backGround {
    background-image: url("../images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  p {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 25px;

  }
  .selection {
      background-color: white;
      outline-color: green;
      outline-style: groove;
      outline-width: 5px;
      align-content: center;
  }
  .card-img-top{ margin-left: 10px;}